<!DOCTYPE html>
<html>
  <head>
    <title> usekakao </title>    
    <script type="text/javascript"
    src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=0h8klh3dxv"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=f40a2802b6187dff8911469bf1c1ed0a&libraries=services"></script>
<link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1 class="navbar">use kakao</h1>
    <div class="left-box" style="float:left">
      <h3 class="resulttab">result tab
      <br>
      <div id="search">
          <input id="search_input" placeholder="회사를 입력해주세요"/>
          <button id="search_button">검색</button>
      </div>
      <div id="result"></div>
    </h3>
      </div>
    <div class="right-box" style="float:right">
      <div id="resulturl">

      </div>
    </div>
    <!-- <script type="module" src="javascripts/usekakao.js"></script> -->
    <script type="module" src="javascripts/bundle.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </body>
</html>
